*{
	padding: 0px;
	box-sizing: border-box;
	
	font-family: verdatta sans-serif;
}

#article{
	width:80%;
	margin: auto;
	padding:10px 20px;
	background-color:#e0ebeb;
	border: 1px solid black;
	border-radius: 15px;
}

 h2{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	
}

img{
	width: 40%;
	height:25%;
	
}

.body1 >p
.body2 >p{
	font-size: 20px;
	
}